.con{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card{
  margin-top: 15px;
}

.card-img-top{
  height: 250px;
}

.card-body{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
